body{
    background-color: rgb(245, 237, 237);
}
.div1{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 3%;
}

.Submit{
    width: 100%;
}

.étape {
    width: 5%;
    background-color:lightgray ;
    border:solid 2px ;
    margin: 0% 0.1%;
    width: 10%;
    font-size: 100%;
}
.text_1{
    font-size:100%;
    margin: 0;
}
.text_2{
    font-size: 100%;
    padding: 0 5% 0 5%;
}
.text_3{
    font-size: 120%;
    padding: 0 3% 0 3%;
}

.text_4{
    height: 20px;
    text-align: center;
    border: 1px solid;
    font-size: 50%;
}


.save-conf{
    width: 20%;
    border-radius: 0;
    border: none;
    background-color: transparent;
}
#C-1{
    background-color: #ff0000;
}
#C-2{
    background-color: #a52a2a ;
}
#C-3{
    background-color: #008000;
}
#C-4{
    background-color: #00ffff;
}
#C-5{
    background-color: #6495ed;
}
#C-6{
    background-color: #4169e1;
}
#C-7{
    background-color: #ffff00;
}
#C-8{
    background-color: #deb887;
}
#C-9{
    background-color: #ffffff;
}
#C-0{
    background-color: #000000;
}
#C-10{
    background-color: #800080;
}
#C-11{
    background-color: #7fff00;
}
#C-12{
    background-color: #ff7f50;
}
#C-13{
    background-color: #dc143c;
}
#C-14{
    background-color: #ff00ff;
}
#C-15{
    background-color: #adff2f;
}
#C-16{
    background-color: #ff69b4;
}
#C-17{
    background-color: #ff4500;
}
#C-18{
    background-color: #808080;
}
#C-19{
    background-color: #d3d3d3;
}
.couleur{
    width: 20px;
    height: 20px;
    border: 1px solid;
    margin: 0 0.5% 0 0;
}
.couleur:hover{
    width: 20px;
    height: 20px;
    border: 2px solid;
    border-radius: 0 10px 10px 10px;
    transform: rotateZ(45deg);

}
.couleur2{
    width: 20px;
    height: 20px;
    border:2px solid;
    border-radius: 0 10px 10px 10px;
    transform: rotateZ(45deg);
}


.div2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 96%;
    margin: 3%;
    flex-flow: column;
}
.sd2-1{
    display: flex;


}
.sd2-2{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 96%;
}

.cible{
    margin: 0 3%;
}
.div4{
    background-color: lightgray;
    padding: 1%;
}
.sd4-1{
    display: flex;
    justify-content: center;
}
.img{
    width: 100px;
    margin: 0 1%;
}
.masse{
    width: 90%;
    margin: 1% 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.t30{width: 30px; height: 30px; padding: 0;}
.t40{width: 40px; height: 30px; padding: 0;}
.t50{width: 50px; height: 30px; padding: 0;}
.t60{width: 60px; height: 30px; padding: 0;}
.t80{width: 80px; height: 30px; padding: 0;}
.t180{width: 180px; height: 30px; padding: 0;}

.ligne{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2px;
}
.clavier{
    width: 28%;
    margin: 0 36%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    user-select: none;
}
.separ{
    width: 100%;
    height: 0;
    border: 1px solid black;
}
.second1{
    display: flex;
    flex-flow: column;
    width: 98%;
    margin: 1%;
    align-items: center;
    justify-content: center;
}
.contour{
    border: 1px solid black;
    width: 30%;
    margin: 0 3%;
    font-size: 100%;
}
.sous1{
    padding: 1%;
    display: flex;
    flex-flow: column;
    background-color: lightgray;
    align-items: center;
    justify-content: center;
}
.sous1-1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.avie{
    display: flex;
    width: 100%;
    padding: 1% 0;
    background-color: lightgray;
    margin: 1% 0;
    justify-content: space-between;
}
.av-no{
    display: flex;
    flex-flow: column;
    width: 20%;
    margin: 2%;
    justify-content: center;
    align-items: center;

}
.second2{
    display: flex;
    flex-flow: column;
    width: 98%;
    margin: 1%;
    align-items: center;
    justify-content: center;
    margin: 2%;
}
.note{
    width: 50%;
}