.option-div{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    gap: 20%;   
    padding: 20px;
}

.option-container{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.achat-container{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 20%;
    align-content: space-between;
    justify-content: space-evenly;
    height: 10em;
}

.choice{
    padding-left: 10%;
    width: 80%;
    display: flex;
    flex-direction: row;
}

#toggle-option{
    border: 0px;
    text-align: left;
    width: 90%;
    background-color: gray;
    font-size: 20px;
}

.top-row{
    display: flex;
    flex-direction: row;
}

.row-btn{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#arrow{
    text-align: left;
    width: 5%;
    background-color: gray;
    font-size: 20px;
}

#euro{
    font-size: 10px;
    width: 5%;
    text-align: center;
}

#qt{
    font-size: 10px;
    width: 20%;
    text-align: center;
}

#prix{
    border: 0px;
    background-color: transparent;
    width: fit-content;
    width: 40%;
    text-align: right;
}

#amount{
    width: 30%;
}

.btn-submit{
    height: 50%;
}

.hide{
    display: none;
}