
body{
    background-color: rgb(245, 237, 237);
}
.div1{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin: 2%;
}
.div2{
    display: grid;
    grid-template-columns: repeat(5, 15%) 20%;
    justify-content: center;
    align-items: center;
    margin: 0 2%;
    border: 3px solid ;
    width: 96%;
}
.div3{
    width: 98%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;    
}
.div4{
    width: auto;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    margin: 2%;
    justify-content: end;
}
.dv2-1{
    display: flex;
    align-items: auto;
    flex-flow: row;
    justify-content: space-between;
}
.dv2-2{
    display: flex;
    align-items:start;
    flex-flow: row;
}
.sd3-1{
    display: flex ;
    justify-content: left;
    align-items: center;
    margin: 0 2% ;
}
.sd3-2 {
    display: flex;
    align-items: center;
    justify-content: right;
    margin: 0 2%;
}
.sd4-1{
    display: flex;
    flex-flow: column;
    width: 35%;
    justify-content: left;
    border: 2px solid;
    justify-content: space-between;
    padding: 1%;
}
.sd4-2{
    margin: 2%;
    width: 25%;
    display: flex;
    justify-content: right;
    padding: 0% , 5%;
}
.bouton_coeur{
    width: 30px;
    height: 30px;
}
.étape {
    width: 5%;
    background-color:lightgray ;
    border:solid 2px ;
    margin: 0% 0.1%;
    width: 10%;
    font-size: 100%;
}
.bouton_continuer {
    background-color: lightgray;
    border: solid 2px;
    border-radius: 25%,5%;
    width:fit-content;
}
.text_1{
    font-size:100%;
    margin: 1%;
}
.text_2{
    font-size: 100%;
}
.text_3{
    font-size: 120%;
    padding: 0 10%;
}
.produit{
    font-size:100%;
}
.prix{
    font-size: 30px;
}
.quant{
    font-size:30px;
}


.img_pr{
    width: 100%;
    padding: 5%;
}
.nom_pr{
    font-size: 100%;
}
.prix_pr{
    text-align: center;
}

.quant_pr{
    text-align: center;
}
.bouton_modifier{
    width: 30%;
    height: 25px;
}

.delet{
    width: 30%;
    height: 25px;
    font-size: 1vw;
    text-align: center;
}

.btn-div{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.coeur{
    align-items: flex-start;
    width: 100%;
}

.FavBtn {
    width: 30%;
    height: 25px;
    border: 1px black solid;
}

.clicked {
    background-color: black;
}