body {
    font-size: 22px;
    background-color: rgb(240, 226, 224);
}

.panier3-top {
    padding-bottom: 5%;
}

.ligne1 {
    width: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 2%;
}

.choice-text {
    padding-right: 5%;
    padding-left: 5%;
}

.left {
    display: flex;
    width: 70%;
    align-items: center;
    padding-top: 3%;
    padding-left: 10%;
}

.box-choice {
    background-color: lightgray;
    padding-left: 7%;
    padding-right: 7%;
    border: 1px black solid;
}


.save-box1 {
    width: 40%;
    height: 70px;
    border: 1px black solid;
    max-width: 70%;
    cursor: pointer;
    margin: auto;
}

.save-box2 {
    width: 40%;
    height: 70px;
    border: 1px black solid;
    max-width: 70%;
    cursor: pointer;
    margin: auto;
}

.panier3-mid {
    width: 90%;
    background-color: rgb(161, 156, 156);
    margin: auto;
    padding: 3% 4%;
    margin-bottom: 7%;
}

.line {
    display: flex;
    padding-bottom: 5%;
    width: 100%;
    text-align: start;
}

.line-left {
    width: 70%;
    display: flex;
    align-items: center;
}

.line-right {
    width: 30%;
    display: flex;
    align-items: center;
}



.mid-text {
    margin-left: 4%;
}

.clicked {
    background-color: black;
}

.save-box {
    width: fit-content;
    background-color: rgb(161, 156, 156);
    border: 1px black solid;
    max-width: 70%;
    cursor: pointer;
    margin: auto;
    padding: 1%;
}

.save-box input {
    all:unset;
}

.bouton_modifier{
    width: 30%;
    height: 25px;
}