.la-big-div-sa-mere{
    display: flex;
    width: 96%;
    margin: 0 2%;
    align-items: center;
    justify-content: space-between;
}
.cest-drole-si-tu-lis-sa{
    display: flex;
    flex-flow: column;
    width: 49%;
}
.img-de-clavier-la-classe-est-pas-trop-longue{

}
.qwsxdcfvgbhnjkl{

}
.c-la-classe-des-canards-qui-en-sortant-de-la-ram-ce-secou-le-cyclotan{
    
}